<div class="fixed inset-0 flex items-center justify-center">
    <form class="p-8 w-full max-w-md mat-elevation-z4 bg-white">
        <div class="text-center mb-6 p-4">
            <h2 class="text-3xl font-bold">Cadastro de Administrador</h2>
        </div>
        <mat-form-field class="w-full mb-4">
            <input matInput placeholder="CPF" type="text">
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
            <input matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
            <input matInput placeholder="Confirmar Email" type="email">
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
            <input matInput placeholder="Senha" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary"
            class="p-4 m-auto fuse-mat-button-large w-full mt-6">Cadastrar</button>
        <button mat-raised-button color="warn" class="p-4 m-auto fuse-mat-button-large w-full mt-6">Cancelar</button>
    </form>
</div>